{extend name='table'}

{block name="button"}

{/block}
{block name="style"}
<style>
    .layui-tab-content{
        height: calc( 100vh - 200px);
    }
    .marketing-box{
        height: 47px;
        background: #f7f8fa;
    }
    .marketing-box:hover{
        background: #f2f3f5;
    }
</style>
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card ">
    <ul class="layui-tab-title">
        {foreach $typeList as $k=>$v}{if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        <div class="padding-10">
            <div class="layui-row layui-col-space30">
                {foreach :array_values($items) as $k=>$item}
                <div class="layui-col-xs3">
                    <div class="marketing-box border-radius-5 pointer padding-15" data-href="{$item.center}">
                        <div class="layui-col-space30 ">
                            <div class="layui-col-xs2">
                                <div class="margin-top-10">
                                    <i class="{$item.cover} color-desc font-s40 text-center"></i>
                                </div>
                            </div>
                            <div class="layui-col-xs10 padding-0">
                                <div class="inline-block">
                                    <div>
                                        <span class="font-w7">{$item.name}</span>
                                    </div>
                                    <div class="color-desc">{$item.remark}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>

{/block}

{block name='script'}
<script>

</script>
{/block}